LogicApp/logic-app-template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "logic-cert-expiry-monitor",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "warningDays": {
      "type": "int",
      "defaultValue": 30,
      "metadata": {
        "description": "Number of days before expiry to trigger alert"
      }
    },
    "emailRecipient": {
      "type": "string",
      "metadata": {
        "description": "Email address to receive alerts"
      }
    }
  },
  "variables": {
    "office365ConnectionName": "office365"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Outlook",
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "warningDays": {
              "defaultValue": "[parameters('warningDays')]",
              "type": "Int"
            },
            "emailRecipient": {
              "defaultValue": "[parameters('emailRecipient')]",
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": ["9"],
                  "minutes": [0]
                },
                "timeZone": "UTC"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "HTTP_-_Get_App_Registrations": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://graph.microsoft.com/v1.0/applications?$select=displayName,appId,keyCredentials,passwordCredentials",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://graph.microsoft.com"
                }
              },
              "runAfter": {}
            },
            "Initialize_Expiring_Certs_Array": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "expiringCerts",
                    "type": "array",
                    "value": []
                  }
                ]
              },
              "runAfter": {
                "HTTP_-_Get_App_Registrations": ["Succeeded"]
              }
            },
            "For_Each_Application": {
              "type": "Foreach",
              "foreach": "@body('HTTP_-_Get_App_Registrations')?['value']",
              "actions": {
                "For_Each_Certificate": {
                  "type": "Foreach",
                  "foreach": "@coalesce(items('For_Each_Application')?['keyCredentials'], createArray())",
                  "actions": {
                    "Check_Certificate_Expiry": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "lessOrEquals": [
                              "@div(sub(ticks(items('For_Each_Certificate')?['endDateTime']), ticks(utcNow())), 864000000000)",
                              "@parameters('warningDays')"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Append_Certificate_to_Array": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "expiringCerts",
                            "value": {
                              "appName": "@items('For_Each_Application')?['displayName']",
                              "appId": "@items('For_Each_Application')?['appId']",
                              "credentialType": "Certificate",
                              "credentialName": "@coalesce(items('For_Each_Certificate')?['displayName'], 'Unnamed Certificate')",
                              "expiryDate": "@items('For_Each_Certificate')?['endDateTime']",
                              "daysRemaining": "@div(sub(ticks(items('For_Each_Certificate')?['endDateTime']), ticks(utcNow())), 864000000000)"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "For_Each_Secret": {
                  "type": "Foreach",
                  "foreach": "@coalesce(items('For_Each_Application')?['passwordCredentials'], createArray())",
                  "actions": {
                    "Check_Secret_Expiry": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "lessOrEquals": [
                              "@div(sub(ticks(items('For_Each_Secret')?['endDateTime']), ticks(utcNow())), 864000000000)",
                              "@parameters('warningDays')"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Append_Secret_to_Array": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "expiringCerts",
                            "value": {
                              "appName": "@items('For_Each_Application')?['displayName']",
                              "appId": "@items('For_Each_Application')?['appId']",
                              "credentialType": "Client Secret",
                              "credentialName": "@coalesce(items('For_Each_Secret')?['displayName'], 'Unnamed Secret')",
                              "expiryDate": "@items('For_Each_Secret')?['endDateTime']",
                              "daysRemaining": "@div(sub(ticks(items('For_Each_Secret')?['endDateTime']), ticks(utcNow())), 864000000000)"
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "For_Each_Certificate": ["Succeeded"]
                  }
                }
              },
              "runAfter": {
                "Initialize_Expiring_Certs_Array": ["Succeeded"]
              }
            },
            "Check_If_Certs_Found": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('expiringCerts'))",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Create_HTML_Table": {
                  "type": "Table",
                  "inputs": {
                    "from": "@variables('expiringCerts')",
                    "format": "HTML"
                  },
                  "runAfter": {}
                },
                "Send_Email": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail",
                    "body": {
                      "To": "@parameters('emailRecipient')",
                      "Subject": "🔐 Certificate Expiry Alert: @{length(variables('expiringCerts'))} credentials expiring soon",
                      "Body": "<html><head><style>body { font-family: 'Segoe UI', Arial, sans-serif; } h2 { color: #d9534f; } table { border-collapse: collapse; width: 100%; } th { background-color: #0078d4; color: white; padding: 10px; text-align: left; } td { padding: 10px; border: 1px solid #ddd; } tr:nth-child(even) { background-color: #f2f2f2; } .footer { margin-top: 20px; padding: 10px; background-color: #f0f0f0; } .button { display: inline-block; padding: 10px 20px; background-color: #0078d4; color: white; text-decoration: none; border-radius: 3px; }</style></head><body><h2>🔐 Entra ID Certificate Expiry Alert</h2><p>Found <strong>@{length(variables('expiringCerts'))}</strong> app registration credentials expiring within <strong>@{parameters('warningDays')}</strong> days</p><p style='color: #666;'><em>Generated at: @{utcNow()}</em></p>@{body('Create_HTML_Table')}<div class='footer'><p><a href='https://portal.azure.com/#view/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/~/RegisteredApps' class='button'>View App Registrations in Azure Portal</a></p></div></body></html>",
                      "Importance": "High"
                    }
                  },
                  "runAfter": {
                    "Create_HTML_Table": ["Succeeded"]
                  }
                }
              },
              "runAfter": {
                "For_Each_Application": ["Succeeded"]
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "office365",
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "principalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    }
  }
}
